*{
    margin:0;
    border:0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:lightblue;
}

.calculator {
    min-height: 50vh;
    border: 3px solid black;
  
}
.buttons {
    margin:none;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

  
   
}
.btn {
   
    margin:0;
    border:2px solid black;

    
    
}
.screen {
    width:100%;
    font-size: 7em;
    background:#6b6b6b;
    color:white;
   
  
}

.btn-yellow {
    background:rgb(255, 168, 96);
    color:blue;
    font-size: 2.8em;
    font-weight: bolder;
    color:white;
}
.btn-grey {
    background:rgb(116, 178, 230);
    color:black;
    font-size: 2.8em;
    font-weight: bolder;
    color:white;
}
.btn-green {
    background:green;
    color:white;
    font-size: 2.8em;
    font-weight: bolder;
    border:8px solid black;
    border-radius: 30px;
}
.btn-red {
    background:red;
    color:white;
    font-size: 2.8em;
    font-weight: bolder;
    border:2px solid black;
  
   
}
.btn-grey:active {
    background:rgb(204, 222, 247);
}
.btn-green:active{
    background:lightgreen;
}
.btn-red:active{
    background:orangered;
}
.btn-yellow:active{
    background: rgb(248, 190, 142);
   
}
.title {
    text-align: right;
    background:black;
    font-size: 5em;
    color:yellowgreen;
    font-family: 'Amatic SC', cursive;
    

}
p{
    color:lightblue;
    text-align: right;
}
@media screen and (max-width:1200px){
    .screen {
        font-size:2em;
        height: 30vh;
        border:10px solid black;
       
    }
    .title{
        font-size: 2em;
    }
    .buttons{
        height: 50vh;
        
    }
    .calculator{
        margin:0;
        background:black;
        width:100%;
        height:100vh;
       

    }
    .btn {
        border:8px solid black;
        border-radius: 30px;
    }
    .btn-red{
         border-radius: 30px;
         border:8px solid black;
    }
}
